body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
}

.header {
  width: 100%;
  background-color: #213e4b;
  color: white;
}
img {
  max-width: 100%;
}
.header-container {
  display: flex;
  width: 70%;
  padding: 40px;
  margin: 0px auto;
}
.header-content {
  width: 60%;
}
.header-content h2 {
  font-size: 30px;
}
.header-img {
  width: 30%;
}
.header-content .btn {
  width: 200px;
  height: 20px;
  padding: 10px;
  background-color: #2cc0de;
  border-radius: 31.5px;
  color: darkgreen;
  text-align: center;
  cursor: pointer;
}
.header-content .btn a {
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
/* body section */
.body {
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.left {
  width: 45%;
  padding: 10px 5px 0 0;
}
.left h2 {
  color: #3c7882;
}
.right {
  width: 30%;
  background-color: #0b6374;
  color: white;
  text-align: center;
}
